/* Body CSS used gradient from w3schools */
body {
    font-family: Arial;
    margin: 0;
    font-size: 12px;
    background-color: light blue; 
    background-image: linear-gradient( blue, aquamarine);
  }
  
  /* Gradient overlaps but looks nice */
  header {
      display:flex;
      justify-content: space-around;
      padding: 2%;
      text-align: left;
      height: 200px;
      font-size: 15px;
      background-color: light blue; 
      background-image: linear-gradient( blue, aquamarine);
  }

 /* CSS for H1 tag under header */
  h1 {
    color:#59b31d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:35px;
    font-weight: 400;
    letter-spacing:.5em;
    
  }

  /* CSS for navigation bar within the header */
  
  nav a {
    font-family:'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 20px;
    color:rgb(19, 248, 69);
    justify-content: space-around;
   
  }
  
  .nav_bar{
    overflow: hidden;
    background-color: rgb(56, 3, 56);
   
  }
  
  .nav_bar {
     float: right;
     text-align: center;
     padding: 14px 16px;
     font-size: 14px; 
     display:inline-flexbox;
  }
  .nav_bar a:hover {
  background-color: #59b31d;
  color:rgb(151, 22, 151)
  }
  
  .nav_bar a.active {
    background-color:purple ;
    color: greenyellow;
  }
  
  /* CSS for h2 and h3 headers under the article sections */
  h2, h3 {
    color:#2f0ee9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:25px;
    font-weight: 400;
    letter-spacing:.1em;
    text-align: center;
    padding: 14px 16px;
  }
  
  /* CSS for all div class boxed */
  .boxed {
    border-style: double;
    border:20px #2f0ee9;
    padding: 50px;
    margin: auto;
    width: 700px;

  }

  article p {
    margin: 2% 0;
    font-size: 150%;
  }
  
  article figure {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 50px;
    margin-right: 50px;
  }

  figure div{
    display: flex;
    justify-content: center;
   
  }
 SectionA ul {
list-style-type: disc;
font-size: 15px;
 } 

 SectionP ul {
  list-style-type: none;
  padding: 0;
  border: 1px blue;
   } 

   .links  li {
    display:inline ;
    
   }
   /* Changed the Header tags and nav tags to be smaller */
   @media all and (max-width: 500px) {
    header {
        height: 70px;
        background-color: #2618ec;
      }
       
      .nav_bar {
        font-size: 10px;
        height: 70px;
        padding:0%

        .boxed {
          border-style: none;
          border:10px #2f0ee9;
          padding: 50px;
          margin: auto;
          width: 500px;
          

}